body{
    display : flex;
    height: 100%;
    margin: 0;
}

div{
    border : 2px solid black;
    height: 100vh;
    flex-wrap: wrap;
}

.logo{
    flex-grow: 1;
    background-image: url(./background.avif);
    background-repeat : no-repeat;
    background-size: cover;
}

.content{
    flex-grow: 2;   

    display: flex;
    flex-direction: column;
}

.cont{
    flex:1;
}


