body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: whitesmoke;

    display: flex;
    justify-content: center;
}

.main-container{
    border: 2px solid white;
    flex: 1 1 100%;
    display: flex;

    flex-wrap: wrap;
}

/* .cont{
    border : 2px solid black;

} */

.logo{
    flex : 1; 
    display: flex;
   
    background-image: url(./background.avif);
    background-repeat : no-repeat;
    background-size: cover;

    align-items: center;
}

.logo-content{
    display : flex;
    flex : 1; 
    height: 100px;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);

    padding-top: 8px;
    padding-bottom: 8px;

    position: relative;
    bottom : 100px;
}

.logo-name,.logo-image{
    flex : 1 1 auto;
    height : 100%;
    display: flex;
    align-items: center;
}

.logo-image{
    justify-content: end;
}

.logo-img-file{
    height: 100%;
}

.logo-name-text{
    font-size: 100px;
    margin : 0;
    color: white;
}



.content{
    flex: 2; 

    display: flex;
    flex-direction: column;
    
 

}

.cont{
    flex : 1;
} 

.form-intro,
.form-footer{
    background-color:#dce1e8;
}

.top-intro-text{
    font-size: 24px;
    font-weight: bold;
    font-family: calibri;
    padding : 24px 0px;
    
    margin : 0px;
    margin-top: 8px;
    margin-left : 32px;
    width : 70%;

}

.form{
    background-color: #dce1e8;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    background-color:#dce1e8 ;
}

.text-inputs{

    box-shadow: 5px 10px 18px #888888;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-top: 16px;
    padding-bottom: 24px;

}

.form-wrapper-row{

    flex : 1;

    display : flex;
    column-gap : 64px;  
    row-gap: 16px;
    flex-wrap: wrap;

    margin-left : 32px;

}

legend{
    margin-left : 32px;
    font-size: 24px;
    font-weight: bold;
}

.input-wrapper{
    display: flex ;
    flex-direction: column;
    /* flex: 1;     */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 250px;
    height: 30px;
    border : 2px solid #dce1e8;
    background-color: azure;
    border-radius: 10%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    outline: none !important;
    border: solid 2px  lightskyblue;
}



.button-div{
    background-color: #dce1e8;
    margin: 0;
    /* padding : 8px; */
    padding-top: 8px;
    padding-bottom: 8px;
}

input[type="submit"]{
    margin-left : 32px;
    padding: 8px 16px;

    background-color: #596D48;
    color: whitesmoke;
    border-color: #596D48;

    font-family: Calibri;
    font-size: large;
}





